@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --accent: #31b2a6;

    --background: #fcfcfc;
    --background-secondary: #dee6ea;

    --foreground: #2d3748;
    --foreground-dim: #4a5568;

    --font-inter: {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}

@theme inline {
    --color-accent: var(--accent);

    --color-background: var(--background);
    --color-background-secondary: var(--background-secondary);

    --color-foreground: var(--foreground);
    --color-foreground-dim: var(--foreground-dim);

    --font-inter: var(--font-inter);
}

@layer base {
    * {
        @apply font-inter text-foreground;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin-conic {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

.conic-rainbow {
    isolation: isolate;
}

.conic-rainbow::before,
.conic-rainbow::after {
    content: "";
    position: absolute;
    inset: 0;
    background: conic-gradient(
            from var(--angle),
            #ff0000,
            #ff7f00,
            #ffff00,
            #00ff00,
            #0000ff,
            #4b0082,
            #9400d3,
            #ff0000
    );
    border-radius: inherit;
    animation: spin-conic 10s linear infinite;
    z-index: -1;
}

.conic-rainbow::after {
    -webkit-filter: blur(1rem);
    filter: blur(1rem);
    opacity: 0.5;
}

/* Scrollbar track transparent */
* {
    /*scrollbar-width: thin;*/
    scrollbar-color: #888 transparent; /* thumb color, track color */
}

::-webkit-scrollbar {
    width: 12px; /* width of vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888; /* color of the draggable part */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

